<div class="container-fluid" style="margin-top: 65px">
    <div class="row">
        <p>
        Team-I-Chess is a website to host two player chess games.
        Users may register accounts, create chess games, chat in-game and in lobby.
        </p>
    </div>
</div>