.chessboard {
    width: 100%;
    height: 100%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.chessrow {
    height: 12.5%;
}

.chesscell img {
    width: 100%;
    height: 100%;
}

.chesscell-squareB{
    background: #8b3507;
}

.chesscell-squareW{
    background: #fff5dd;
}

.chessborder {
    background: #000000;
    
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.chesspiece:hover {
    /** background-image: url('/images/green_bg.svg'); */
    /** javascript is being used to manipulate these colors; */
}

.chessactions-card {
    min-width: 680px;
}

.chessactions-card-body {
    overflow-y: scroll;
}

/*
div.pawn-upgrade-option > input{
    visibility: hidden;
    position: absolute;
}

div.pawn-upgrade-option > input + img{ 
    cursor:pointer;
    border:2px solid transparent;
}

div.pawn-upgrade-option > input:checked + img{
    border:2px solid #f00;
}
*/