.game-listing-container {
    padding: 0;
    margin: 0;
}

.game-listing-container nav {
    padding-left: 50px;
    padding-right: 50px;
    background-color: grey;
}

.game-listing-nav-tabs {
    padding: 0;
    margin: 0;
}

.game-listing-nav-tabs a {
    background-color: white;
    min-width: fit-content;
    width: 200px;
    height: 66px;
    padding: auto;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    transition: 0.3s;
}

.game-listing-nav-tabs a:hover {
    background-color: rgb(220, 220, 220);
}

.game-listing-card {
    height: max-content;
    width: 100%;
    min-width: 390px;
    max-width: 550px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.game-listing-card__snapshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 320px;
    max-height: 480px;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
}

.game-listing-card__description {
    height: 100px;
    width: 100%;
}

.game-listing-card__actions {
    height: 50px;
    width: 100%;
}

.game-listing-card__action--input-width {
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 100%;
}

#rejoinable-games-none {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}